---
import FilterBlog from "@/components/client/FilterBlog";
import IndexHeader from "@/components/static/IndexHeader.astro";
import IndexLayout from "@/layouts/IndexLayout.astro";
import { getCollection } from "astro:content";
import { parse } from "date-fns";

const allItems = (await getCollection("blog"))
    .filter((blog) => !blog.data.draft)
    .sort((a, b) => {
        const aDate = parse(a.data.date, "dd-MM-yyyy", new Date());
        const bDate = parse(b.data.date, "dd-MM-yyyy", new Date());
        return bDate.getTime() - aDate.getTime();
    });
---

<IndexLayout title="blog - shunrises.dev" description="thoughts, tutorials and engineering insights" image="/og/default.png">
    <div transition:animate="fade">
        <IndexHeader url="/" heading="Blog" />

        <div class="mt-3">
            <FilterBlog client:load items={allItems} />
        </div>
    </div>
</IndexLayout>
