---
import site_config from "@/site-config.json";
import { FeaturedBlogCard } from "../client/FeaturedBlogCard";
import { getCollection } from "astro:content";
import { parse } from "date-fns";
import { RiArrowRightUpLine } from "@remixicon/react";

const blogs = (await getCollection("blog"))
    .filter((blog) => !blog.data.draft)
    .sort((a, b) => {
        const aDate = parse(a.data.date, "dd-MM-yyyy", new Date());
        const bDate = parse(b.data.date, "dd-MM-yyyy", new Date());
        return bDate.getTime() - aDate.getTime();
    });
---

{
    site_config.featured.blog.visible && blogs.length > 0 && (
        <section class="bg-background border border-border p-6 mt-10">
            <a href="/blog" class="flex items-center justify-start group w-fit gap-2 select-none">
                <span class="text-muted-foreground group-hover:text-secondary-foreground animation font-geist">thoughts, tutorials and engineering insights</span>
                <RiArrowRightUpLine className="size-0 group-hover:size-4 scale-0 group-hover:scale-100 opacity-0 group-hover:opacity-100 animation" />
            </a>
            <div class="mt-6 flex flex-col">
                {blogs.slice(0, 3).map((item) => (
                    <FeaturedBlogCard item={item} />
                ))}
            </div>
        </section>
    )
}
