---
import BackButton from "./BackButton.astro";

const { url, heading } = Astro.props;
---

<div class="border border-border p-6 mt-10 bg-background">
    <BackButton url={url} />
    <h1 class="pt-3 text-5xl font-semibold opacity-90 select-none">{heading}</h1>
</div>
