---
import site_config from "@/site-config.json";
import ThemeToggle from "../client/ThemeToggle";
import { Button } from "../ui/button";
import { RiRssLine, RiSearchLine } from "@remixicon/react";
---

<div class="flex gap-1">
    {
        site_config.bPageFind && (
            <>
                <Button variant="outline" size="icon-xs" className="search-trigger flex md:hidden" aria-label="Search">
                    <RiSearchLine />
                </Button>
                <Button variant="outline" size="xs" className="search-trigger hidden md:flex" aria-label="Search (Ctrl+K)">
                    <RiSearchLine />
                    <kbd class="text-[10px] pr-1 opacity-50 leading-none">Ctrl K</kbd>
                </Button>
            </>
        )
    }
    {site_config.bThemeToggle && <ThemeToggle client:load />}
    {
        site_config.bRssFeed && (
            <Button variant="outline" size="icon-xs" aria-label="rss">
                <a href="/rss.xml" class="p-1" aria-label="rss">
                    <RiRssLine />
                </a>
            </Button>
        )
    }
</div>
