---
import Header from "@/components/static/Header.astro";
import Footer from "@/components/static/Footer.astro";
import "@/styles/global.css";
import "@/styles/typography.css";
import Head, { type Props as HeadProps } from "@/components/static/Head.astro";

const headProps = Astro.props as HeadProps;
---

<!doctype html>
<html lang="en">
    <Head {...headProps} />
    <body class="mx-auto">
        <Header />
        {/* Content */}
        <main class="max-w-4xl mx-auto">
            <slot />
        </main>
        <Footer />
        <pagefind-modal reset-on-close></pagefind-modal>
    </body>
</html>
