---
import Header from "@/components/static/Header.astro";
import "@/styles/global.css";
import "@/styles/typography.css";
import "katex/dist/katex.min.css";
import Head, { type Props as HeadProps } from "@/components/static/Head.astro";
import FooterId from "@/components/static/FooterId.astro";

const { type, prev, next, ...headProps } = Astro.props as HeadProps & {
    type: "blog" | "portfolio";
    prev: any;
    next: any;
};
---

<!doctype html>
<html lang="en">
    <Head {...headProps} type={type === "blog" ? "article" : "website"} />
    <body class="mx-auto">
        <Header />
        {/* Content */}
        <main class="max-w-4xl mx-auto">
            <slot />
        </main>
        <FooterId type={type} prev={prev} next={next} />
        <pagefind-modal reset-on-close></pagefind-modal>
    </body>
</html>
