---
import "@/styles/global.css";
import "@/styles/typography.css";
import Head, { type Props as HeadProps } from "@/components/static/Head.astro";

const headProps = Astro.props as HeadProps;
---

<!doctype html>
<html lang="en">
    <Head {...headProps} />

    <body class="mx-auto">
        {/* Content */}
        <main class="max-w-4xl mx-auto">
            <slot />
        </main>
    </body>
</html>
